<div class="w3-container w3-padding-large w3-grey">
  <h5 id="contact"><b>Contact Info</b></h5>
  <h6> Feel free to contact me! </h6>
  <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
    <a href="mailto:rowan@rowansharman.com">
      <div class="w3-quarter w3-dark-grey w3-hover-teal">
        <p><i class="fa fa-envelope w3-xlarge w3-text-light-grey"></i></p>
        <p><br>rowan@rowansharman.com</p>
      </div>
    </a>
    <a href="tel:9782351405">
      <div class="w3-quarter w3-dark-grey w3-hover-teal">
        <p><i class="fa fa-phone w3-xlarge w3-text-light-grey"></i></p>
        <p><br>978-235-1405</p>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/rowansharman/" target="_blank">
      <div class="w3-quarter w3-dark-grey w3-hover-teal">
        <p><i class="fa fa-linkedin-square w3-xlarge w3-text-light-grey"></i></p>
        <p><br>/in/rowansharman</p>
      </div>
    </a>
    <div class="w3-quarter w3-dark-grey w3-hover-teal">
      <p><i class="fa fa-map-marker w3-xlarge w3-text-light-grey"></i></p>
      <p>Seattle, WA<br> Gustavus, AK</p>
    </div>
  </div>
  <hr class="w3-opacity">
</div>
