<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index: 3; width: 300px; display: none;" id="mySidebar"><br>
  <div class="w3-container">
    <a onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa-solid fa-remove"></i>
    </a>
    <img src="/images/rowansharman.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>ROWAN SHARMAN</b></h4>
  </div>
  <div class="w3-bar-block">
    <a href="/#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>
    <a href="/#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-user fa-fw w3-margin-right"></i>ABOUT</a>
    <a href="./#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>

    <style>
      .fa-stack.small { font-size: 0.5em; }
      i { vertical-align: middle; }
    </style>

    <a href="/rowansharman_resume.pdf" target="_blank" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">
      <span class="w3-margin-right fa-stack small">
        <i class="fa-solid fa-file fa-stack-2x"></i>
        <i class="fa-solid fa-user fa-stack-1x fa-inverse"></i>
      </span>
      RESUME</a>

      <a href="/calendar" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-calendar-alt fa-fw w3-margin-right"></i>CALENDAR</a>
    </div>
    <div class="w3-panel w3-large">
      <a href="mailto:{%include email%}"><i class="fa-solid fa-envelope w3-hover-opacity fa-lg"></i></a>
      <sp><b>|</b></sp>
      <a href="https://www.linkedin.com/in/rowansharman/" target="_blank"><i class="fa-brands fa-linkedin w3-hover-opacity fa-lg"></i></a>
      <sp><b>|</b></sp>
      <a href="https://github.com/rowansharman" target="_blank"><i class="fa-brands fa-github w3-hover-opacity fa-lg"></i></a>

    </div>
  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor: pointer; display: none;" title="close side menu" id="myOverlay"></div>

  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
  </script>
